.App {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
}

.SHOBU-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6%;
}

.game-container {
  max-width: 500px;
  margin-top: 10px;
}

.SHOBU {
  margin-bottom: 20px; /* Adjust the vertical space between boards as needed */
}

/*Solely used to portray the boards from White's POW.*/
.white_disp, .white_disp img {
  transform: rotate(180deg);
}

.infotxt
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 9px;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 0 auto; 
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000 1px solid;
}

.square img {
  width: 100%
}

.game-container.white, .game-container.white img{
    transform: rotate(180deg);
}

.Index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    /* Optional: Set a height to vertically center as well */
}

.git_logo{
  height: 50px;
  width: 50px;
}

.git_logo:hover{
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  cursor: pointer;
}


.ghost{
  opacity: 0.5;
}

.img404{
  width: 300px;
  height: auto;
}
.w-100 {
  width: 100%;
}

.p-3 {
  padding: 1rem;
}
.btn-primary {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.rope {
  width: 100%;
  padding: 20px 0;
}

.win_img{
  height: 150px;
}