.App {
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.SHOBU-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px; /* Adjust the gap between squares as needed */
}

.SHOBU {
  margin-bottom: 20px; /* Adjust the vertical space between boards as needed */
}

.bruh
{
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.bruh img
{
  width: 475px;
  margin: 30px auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px; /* Adjust the gap between squares as needed */
  margin: 0 auto; /* Center the grid horizontally */
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000 1px solid;
}

.dark {
  background-color: #769656;
}

.light {
  background-color: #eeeed2;
}
body {
  background-color: #c8b496;
}

.square.highlighted {
  background-color: #aaffaa; /* Highlighted background color */
}