.dark {
    background-color: #654c3f;
}

.dark:hover {
    background-color: #836c60;
}



.light {
    background-color:  #c8b496;
}

.light:hover {
    background-color:  #dfcfb7;
}

body {
    background-color: #6e9393;
}

.square.highlighted {
    background-color: #aaffaa; 
}

.square.highlighted:hover {
    background-color: #77db77; 
}

.square.angry_highlighted {
    background-color: rgb(255, 177, 170); 
}

.square.angry_highlighted:hover {
    background-color: #db7777; 
}